<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <title>The Mutt and Tumble</title>
</head>
<body>
    <header class="site-header">

        <div class="site-branding">

            <p class="site-title"><a href="https://mutt-and-tumble.com/" rel="home">Mutt and Tumble</a></p>
        
            <p class="site-description">Unleash the good dog</p>
        </div><!-- .site-branding -->

        <nav class="main-navigation">
            <div>
                <ul class="main-menu">
                    <li><a href="https://mutt-and-tumble.com/">Home</a></li>
                    <li><a href="https://mutt-and-tumble.com/?page_id=6">Our Training Methods</a></li>
                    <li><a href="https://mutt-and-tumble.com/contact/">Contact Us</a></li>
                    <li><a href="https://mutt-and-tumble.com/blog-01/">Mutt &amp; Tumble’s Blog</a></li>
                    <li><a href="">Login</a></li>

                </ul>
            </div>
        </nav> 
        
    </header><!-- #site-navigation -->
    <main>
  
         <h2><%= title %></h2>
         <section id="show-page">
            <div>Pet Name: </div>
            <div><%= appointment.dogName %></div>
            <div>Date: </div>
            <div><%= appointment.date %></div>
            <div>Location: </div>
            <div><%= appointment.location %></div>
            <div>Training: </div>
            <div><%= appointment.training %></div>
       
          </section>
        <br><br>
    <form method="POST"
      action="/appointments/<%= appointment._id %>/feedbacks">
      <label>feedback:
        <input type="string" height="250px"></input>
      </label>
      <input type="submit" value="Add feedback">
    </form>
    
    
    </main>
</body>
</html>